[mysqld]
default-storage-engine = MyISAM
binlog_cache_size = 128K
binlog_stmt_cache_size = 64K
join_buffer_size = 256K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
max_allowed_packet = 1M
max_connections = 20
open_files_limit = 50
myisam_sort_buffer_size = 8M
bulk_insert_buffer_size = 0
key_buffer_size = 16M
skip-external-locking
skip-slave-start
skip-innodb
skip-name-resolve
skip-grant-tables
skip-host-cache
sort_buffer_size = 1M
query_cache_size = 4M
query_cache_limit = 64K
thread_cache_size = 4
thread_stack = 128K
tmp_table_size = 16M
max_heap_table_size = 16M
host_cache_size = 0
user = root
